# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 日志和临时文件
logs/
*.log
*.csv
*.dat
*.pid
*.env
*.pot
*.po
*.mo
*.swp
*.db
*.sqlite3
nohup.out

# 操作系统和IDE
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 项目特定
crypto_config.json
api_server.pid

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
dist
*.local

# VeighNa
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# Misc
*.mo
